<% if flash[:message] %>
  <div class="alert alert-success" role="alert"><%= flash[:message] %></div>
<% end %>


<div class="col-md-10 rd">
  <h1>My Visits</h1>
</div>
 <div class="col-md-2 rd myh1">
    <%= link_to "Add Visit", new_user_visit_path(params[:user_id]),:class => "btn btn-primary" %>
</div>

<table class="table">
<tr>
    <th>Id</th>
    <th>User</th>
    <th>From</th>
    <th>To</th>
    <th>Actions</th>
  </tr>
  <tbody>
    <% @visits.each do |visit| %>
    <tr>
      <td>
        <%= link_to visit.user_id, location_visit_path(visit.location.id, visit.id)%> 
      </td> 
      <td>
        <%= visit.user_id %> 
      </td>
      <td>
        <%= visit.from_date %> 
      </td>
      <td>
        <%= visit.to_date %> 
      </td> 
      <td>
      <%= link_to "delete", location_visit_path(visit.location.id, visit),
          method: 'delete' , confirm: "Are you sure?" %>

      <%= link_to "edit", edit_location_visit_path(visit.location.id, visit),
          method: 'get' %>
      </td> 
    </tr>
    <% end %>
  </tbody>
</table>
