<% if @visit.errors.any? %>
  <ul>
  <% @visit.errors.full_messages.each do | error_messages | %>
    <li><%= error_messages  %> </li>
  <% end %>
  </ul>
<% end %>
<%= form_for [ @user, @visit ] do |f| %>
  <%= f.hidden_field :user_id, :value => @user.id %>
  <%= f.label "location to choose"%>

   <% location_array = @locations.map { |loc| [loc.name, loc.location_id] } %>
  <%= f.select :location_id, location_array %>

<br/>
  <%= f.label 'from'  %>
  <%= f.datetime_select( :from_date, default: DateTime.now + 1.hour ) %>
<br/>
  <%= f.label 'to'  %>
  <%= f.datetime_select( :to_date, default: DateTime.now + 1.day ) %>
<br/>
  <%= f.submit "Save" %>
<% end %>

