<% if @visit.errors.any? %>
  <ul>
  <% @visit.errors.full_messages.each do | error_messages | %>
    <li><%= error_messages  %> </li>
  <% end %>
  </ul>
<% end %>


<%= form_for [ @location, @visit ] do |f| %>
  <%= f.label :user_id  %>

   <% user_array = @users.map { |user| [user.user_name, user.id] } %>
  <%= f.select :user_id, user_array %>


<br/>
  <%= f.label 'from'  %>
  <%= f.datetime_select( :from_date, default: DateTime.now + 1.hour ) %>
<br/>
  <%= f.label 'to'  %>
  <%= f.datetime_select( :to_date, default: DateTime.now + 1.day ) %>
<br/>
  <%= f.submit "Save" %>
<% end %>

