<div class="col-md-10 rd">
  <h1>User profile <%= @user.user_name%> </h1>
  <h2>Name: <%= @user.name %> Nationality <%=  @user.nationality %></h2>
  <h3>Visits</h3>
</div>

<table class="table">
<tr>
    <th>Id</th>
    <th>Location</th>
    <th>From</th>
    <th>To</th>
  </tr>
  <tbody>
    <% @visits.each do |visit| %>
    <tr>
      <td>
        <%= visit.id %> 
      </td> 
      <td>
        <%= print_location_name(visit) %>
      </td>
      <td>
        <%= visit.from_date %> 
      </td>
      <td>
        <%= visit.to_date %> 
      </td> 
    </tr>
    <% end %>
  </tbody>
</table>