<% content_for :title do %>
 HOME
<% end %>



<div class="jumbotron">
  <h1>All your places in one place</h1>
  <p>Invite your friends and family and add your own visits or locations!</p>
  <p><%=  link_to "Create you own location", new_location_path, method: 'get', :class => "btn btn-info btn-lg" %></p>

</div>



<%= form_for :search, url: search_index_path, :html => { :class => 'form-search' } do |f| %>
  <p>
    <%= f.label :key_word %><br>
    <%= f.text_field :key_word, :class => "input-medium search-query" %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>


<div class="row">
  <div class="col-md-10 rd">
    <h1>My Locations</h1>
    <h3><%= link_to "New Location", new_location_path %></h3>
  </div> 
</div>

<div class="row">
  <% @locations.each do |location| %>
    <div class="col-sm-6 col-md-3 <%= cycle("bg-success","bg-danger","bg-success","bg-info") %>">
      <div >
         <%= image_tag location.avatar.url%>
      </div>
      <div class="caption">
         <h3><%= link_to location.name, location_path(location.id) %> <span class="label label-warning"> <%= location.city %></span> </h3>
         <% if !location.comments.all.empty? %>
         <p><%= location.comments[0].comment_text %></p>
         <% end %>
         <p>
            <%=  link_to "delete", location_path(location.id),
            method: 'delete' , confirm: "Are you sure?", :class => "btn btn-info" %>
            <%=  link_to "edit", edit_location_path(location.id),
            method: 'get', :class => "btn btn-info" %>
         </p>

      </div>
    </div>
  <% end %>
</div>
<br>
<br>
<br>

</div>
