
<div class="jumbotron">
  <h1>All your places in one place</h1>
  <p>Invite your friends and family and add your own visits or locations!</p>
  <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
</div>

<div class="row">
  <div class="col-md-10 rd">
    <h1>My Locations</h1>
  </div> 
</div>

<div class="row">
  <% @locations.each do |location| %>
    <div class="col-sm-6 col-md-3">
      <div >
         <%= image_tag location.avatar.url%>
      </div>
      <div class="caption">
         <h3><%= link_to location.name, location_path(location.id) %> <span class="label label-warning"> <%= location.city %></span> </h3>

         <p>Some sample text. Some sample text.</p>
         <p>
            <%=  link_to "delete", location_path(location.id),
            method: 'delete' , confirm: "Are you sure?", :class => "btn btn-info" %>
            <%=  link_to "edit", edit_location_path(location.id),
            method: 'get', :class => "btn btn-info" %>
         </p>
      </div>
    </div>
  <% end %>
</div>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Create a new Location</h3>
  </div>
  <div class="panel-body">
<%= form_for :location, url: locations_path, :html => { :multipart => true } do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :city %><br>
    <%= f.text_area :city %>
  </p>
   <p>
  <%= f.file_field :avatar %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>


    
  </div>
</div>






