<!DOCTYPE html>
<html>
<head>
	<title>locations</title>
</head>
<body>
<h1>My Locations</h1>


<ul>
<% @locations.each do |element| %>
<li><%=  element.name %> <span> - </span> <%=  element.city %></li>
<% end %>
</ul>


<%= form_for :location, url: new_location_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :city %><br>
    <%= f.text_area :city %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>
</body>
</html>

