<% content_for :title do %>
 HOME
<% end %>



<div class="jumbotron">
  <h1>All your places in one place</h1>
  <p>Invite your friends and family and add your own visits or locations!</p>
  <p><a class="btn btn-info btn-lg" role="button">Learn more</a></p>
</div>



<%= form_for :search, url: search_index_path, :html => { :class => 'form-search' } do |f| %>
  <p>
    <%= f.label :key_word %><br>
    <%= f.text_field :key_word, :class => "input-medium search-query" %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>


<div class="row">
  <div class="col-md-10 rd">
    <h1>My Locations</h1>
  </div> 
</div>


<div class="row">
  <% @locations.each do |location| %>
    <div class="col-sm-6 col-md-3 <%= cycle("bg-success","bg-danger","bg-success","bg-info") %>">
      <div >
         <%= image_tag location.avatar.url%>
      </div>
      <div class="caption">
         <h3><%= link_to location.name, location_path(location.id) %> <span class="label label-warning"> <%= location.city %></span> </h3>
         <% if !location.comments.all.empty? %>
         <p><%= location.comments[0].comment_text %></p>
         <% end %>
         <p>
            <%=  link_to "delete", location_path(location.id),
            method: 'delete' , confirm: "Are you sure?", :class => "btn btn-info" %>
            <%=  link_to "edit", edit_location_path(location.id),
            method: 'get', :class => "btn btn-info" %>
         </p>

      </div>
    </div>
  <% end %>
</div>
<br>
<br>
<br>

<div class="panel panel-info">

  <div class="panel-heading">
    <h3 class="panel-title">Create a new Location</h3>
  </div>
  <div class="panel-body">


<%= form_for @location, :html => { :multipart => true }, :class => "form-inline" do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :city %><br>
    <%= f.text_area :city %>
  </p>
   <p>
  <%= f.file_field :avatar %>
  </p>
  <%= f.fields_for :comments do |comment_form| %>
    <%= comment_form.hidden_field :id %>
    <%= comment_form.label "Comment" %>
    <%= comment_form.text_area :comment_text %>
   <% end %>
  <p>
    <%= f.submit %>
  </p>
<% end %>

  </div>
</div>
