<h1>New Location</h1>
<%= form_for @location, :html => { :multipart => true }, :class => "form-inline" do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :city %><br>
    <%= f.text_area :city %>
  </p>
   <p>
  <%= f.file_field :avatar %>
  </p>
  <%= f.fields_for :comments do |comment_form| %>
    <%= comment_form.hidden_field :id %>
    <%= comment_form.label "Comment" %>
    <%= comment_form.text_area :comment_text %>
   <% end %>
  <p>
    <%= f.submit %>
  </p>
<% end %>

