<!DOCTYPE html>
<html>
<head>
  <title><%= content_for :title %></title>
  <link href="http://fonts.googleapis.com/css?family=Josefin+Sans:700|Amatic+SC:700" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>


  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">MeetMe</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><%= link_to "Home", root_path %></li>
        <li class="active"><%= link_to "Users", users_path %></li>
        <li class="active">
          <%= form_for :search, url: search_index_path, :html => { :class => 'form-search' } do |f| %>
            <%= f.text_field :key_word, :class => "input-medium search-query", :placeholder => "where are you go?" %>
            <%= f.submit %>
          <% end %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li id="login"><% if user_signed_in? %>
          <%= current_user.email %>
          <%= link_to 'Logged In [click to logout]', destroy_user_session_path, :method => :delete %>
            <% else %>
              <%= form_for(:user, :url => session_path(:user)) do |f|  %>
              <%= f.text_field :email %>
              <%= f.password_field :password %>
              <%= f.submit 'Sign in' %>
              <% end %>
              <span><%= link_to "Forgot your password?", new_password_path(:user) %></span>
              <span>or</span>
              <span><%= link_to 'Sign up', new_user_registration_path %></span>
            <% end %>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->

  </div><!-- /.container-fluid -->

  

</nav>


  <div class="container">
  <%= yield %>

  <div id="footer">
      <div class="container">
      olaaaa

      </div>
    </div>

  </div>
</body>
</html>
